{% import 'core.html' as core%}
<!DOCTYPE html>
<html>
  {{
    core.head(title)
  }}
  <body class="bg-gray-100 w-full">
    {{ core.nav(path) }}
    <div>
      <div class="container mx-auto flex justify-center">
        <div class="flex justify-center flex-col">
          <!-- prettier-ignore -->
          <div class="bg-bismilah bg-cover bg-no-repeat bg-center w-full mx-auto h-80 flex items-end justify-center">
            <!-- prettier-ignore -->
            <input type="text" autocomplete="off" class="p-4 w-3/4 sm:w-1/2 h-10 mb-10 border border-gray-500 border-r-0 focus:border-green-500 focus:outline-none rounded-l-lg" id="keyword" placeholder="Cari alquran (surah atau nomor)"/>
            <button class="h-10 py-2 px-4 mb-10 bg-white border border-gray-500 rounded-r-lg hover:bg-gray-100 transition-all transition-duration-700 focus:outline-none" id="click"><i class="ri-search-line"></i></button>
          </div>
          <!-- prettier-ignore -->
          <span id="judul" class="my-8"></span>
          <div
            id="demo"
            class="w-screen flex flex-col sm:flex-wrap sm:flex-row justify-center"
          ></div>
        </div>
      </div>
      <!-- prettier-ignore -->
      <div id="upper" class="px-2 pt-1 text-white fixed bottom-4 right-4 bg-gray-400 rounded"><i class="ri-arrow-up-s-line"></i></div>
    </div>
    <!-- prettier-ignore -->
    <footer class="hidden bg-gray-700 w-full h-16 p-6">
      <h1 class="font-poppins font-semibold text-center align-center text-white">Quran Web</h1>
    </footer>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
