{% import 'core.html' as core%}
<!DOCTYPE html>
<html>
  {{
    core.head(title)
  }}
  <body class="bg-gray-100 w-full">
    {{ core.nav(path) }}
    <div>
      <div class="container mx-auto flex justify-center">
        <div class="flex justify-center flex-col">
          <!-- prettier-ignore -->
          <div class="bg-bismilah bg-cover bg-no-repeat bg-center w-full mx-auto h-80 relative">
            <div class="w-full h-12 px-10 flex flex-row-reverse justify-between items-center bg-gray-200 absolute bottom-0">
              <div class="flex items-center justify-between relative">
                <input type="text" autocomplete="off" class="w-full p-2 rounded border focus:outline-none focus:border-blue-700 transition-all transition-duration-1000" id="keyword" placeholder="Cari kata di Al-Quran"/>
                <span class="w-8 text-center absolute right-1" id="click"><i class="text-xl ri-search-line"></i></span>
              </div>
              <div>
                <span id="list"><i class="text-xl ri-menu-line"></i></span>
              </div>
            </div>
            <span id="judul" class="my-8"></span>
          </div>
          <div
            id="demo"
            class="w-screen flex flex-col sm:flex-wrap sm:flex-row justify-center"
          ></div>
        </div>
      </div>
      <!-- prettier-ignore -->
      <div id="upper" class="px-2 pt-1 text-white fixed bottom-4 right-4 bg-gray-400 rounded"><i class="ri-arrow-up-s-line"></i></div>
    </div>
    <!-- prettier-ignore -->
    <footer class="hidden bg-gray-700 w-full h-16 p-6">
      <h1 class="font-poppins font-semibold text-center align-center text-white">Quran Web</h1>
    </footer>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.1/dist/sweetalert2.all.min.js"></script>
  </body>
</html>
